.main-segment {
    position: relative;
    background: #fff;
    box-shadow: 0 1px 2px 0 rgb(34 36 38 / 15%);
    margin: 2rem;
    padding: 1em 2em;
    border-radius: 0.28571429rem;
    border: 1px solid rgba(34,36,38,.15);
    cursor: pointer;
}

.picture {
    display: flex;
    justify-content: center;
}

.ui-header {
    font-size: 2rem;
    margin: 2rem 0;
    text-align: justify;
}

.lead {
    margin-top: 2rem;
    text-align: justify;
}

.content {
    text-align: justify;
}

.date {
    text-align: right;
}