.news-item {
    display: flex;
    cursor: pointer;
}

.news-item .content{
    padding-left: 1em;
    width: 100%;
}

.news-item.item img {
    max-width: 300px;
}

.item-lead{
    color: black;
    padding-top: 2rem;
    display: flex;
    text-align: justify;    
}

.date {
    color: black;
}